---
import HeroSection from "./hero/hero-section.astro";
import UsageSection from "./usage/usage-section.astro";
import ActionsSection from "./actions/actions-section.astro";
import DisableSection from "./disable/disable-section.astro";
import StylesSection from "./other-styles/styles-section.astro";
import TableSection from "./table/table-section.astro";
---

<main class='max-w-[1000px] mx-auto px-5'>
  <HeroSection />
  <UsageSection />
  <ActionsSection />
  <DisableSection />
  <StylesSection />
  <TableSection />
</main>
