---
import ExampleCode from "../example-code/example-code";

// Components
import { SECTIONS_NAMES } from "@/constants/constants";

// i18n
import { getI18N } from "@/i18n";
const i18n = getI18N(Astro.url.pathname).DISABLE;
---

<section class='mt-20'>
  <div class='flex flex-col gap-2 my-8'>
    <h2 class='text-3xl lg:text-4xl font-semibold'>{i18n.TITLE}</h2>
    <p class='max-sm:text-sm text-gray-500'>{i18n.DESCRIPTION}</p>
  </div>
  <div class='mt-10'>
    <ExampleCode section={SECTIONS_NAMES.DISABLE} client:load />
  </div>
</section>
